<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Norbert Łuszkiewicz Portfolio</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <section class="hero">
      <img class="hero__logo" src="images/logo-white.png" alt="animated blob" />
      <h1 class="hero__main-text">Norbert Łuszkiewicz</h1>
      <p class="hero__text">
        <span class="color-red">Front-end </span><span class="color-blue">developer</span> 💻
      </p>
      <div class="hero__gif-wrapper">
        <img class="hero__gif" src="images/programer.gif" alt="men working on laptop" />
        <img class="hero__blob" src="images/blob.svg" alt="animated blob" />
      </div>
    </section>
    <section class="about-me">
      <div class="about-me_text-wrapper">
        <h2 class="title">Hi, I'm Norbert. Nice to meet you 👋🏻</h2>
        <div class="about-me__color-wrapper about-me__color-wrapper--blue">
          <p class="text">
            I am a beginner front-end developer ⌨️ and I starting study on Wroclaw University of
            Economics and Business in the field of Business Informatics.
            <strong> I am a helpful and creative person.</strong> I am still learning and I like to
            face new problems. I am not afraid of new experiences.
          </p>
        </div>
        <div class="about-me__color-wrapper">
          <p class="text">
            In my work I use the latest technologies 🚀 ensuring excellent performance.
            <strong>I care about the purity and transparency of the code,</strong> przy zachowaniu
            odpowiedniej semantyki, standardów i nazewnictwa, np. (W3C, BEM, camelCase).
          </p>
        </div>
      </div>
      <img class="about-me__photo" src="images/programer.gif" alt="drawing face" />
    </section>
    <section class="my-skills">
      <div class="title-wrapper">
        <div class="logo-wrapper">
          <img src="images/logo-white.png" alt="logo" class="logo" />
          <img src="images/logo-white2.png" alt="logo" class="logo2" />
        </div>
        <h2 class="title">My skills 🖖🏻</h2>
      </div>
      <p class="text">
        Order in code and files is the basis. I always try to choose the best solution for a given
        implementation that will ensure<strong> the best efficiency.</strong>
      </p>
      <div class="my-skills__item-wrapper">
        <div class="my-skills__box-name">Technologies in which I works</div>
        <div class="my-skills__item">
          <i class="fab fa-css3-alt"></i>
        </div>
        <div class="my-skills__item">
          <i class="fab fa-html5"></i>
        </div>
        <div class="my-skills__item">
          <i class="fab fa-js"></i>
        </div>
        <div class="my-skills__item">
          <i class="fab fa-react"></i>
        </div>
        <div class="my-skills__item">
          <i class="fab fa-git-alt"></i>
        </div>
        <div class="my-skills__item">
          <i class="fab fa-github"></i>
        </div>
        <div class="my-skills__item">
          <i class="fab fa-sass"></i>
        </div>
        <div class="my-skills__item">
          <i class="fab fa-npm"></i>
        </div>
      </div>
      <div class="my-skills__item-wrapper my-skills__item-wrapper--color">
        <div class="my-skills__box-name my-skills__box-name--color">
          What am I familiar with?
        </div>
        <ul class="my-skills__list">
          <li class="my-skills__list-item">MongoDB</li>
          <li class="my-skills__list-item">Simple project modification in node.js</li>
          <li class="my-skills__list-item">Redux</li>
          <li class="my-skills__list-item">Webpack</li>
          <li class="my-skills__list-item">React Router, Hook</li>
          <li class="my-skills__list-item">Styled Components</li>
          <li class="my-skills__list-item">Storybook</li>
          <li class="my-skills__list-item">Axios</li>
          <li class="my-skills__list-item">Formik</li>
          <li class="my-skills__list-item">I Use Eslint and Prettier</li>
          <li class="my-skills__list-item">Combination of React, Node.js, MongoDB and Heroku</li>
        </ul>
        <h3 class="my-skills__subtitle">What will I be good at?</h3>
        <p class="text">node.js | expres.js | gatsby.js | graphQL | typescript | GSAP.js</p>
      </div>
    </section>
    <section class="my-works">
      <div class="title-wrapper">
        <div class="logo-wrapper">
          <img src="images/logo-white.png" alt="logo" class="logo" />
          <img src="images/logo-white2.png" alt="logo" class="logo2" />
        </div>
        <h2 class="title">My works 👨🏻‍💻</h2>
    </section>
  </body>
</html>
