<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Norbert Łuszkiewicz Front-end Developer</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="shortcut icon" href="images/logo-white.png" type="image/x-icon" />
  </head>

  <body>
    <section class="hero">
      <div class="hero__title-wrapper">
        <img class="hero__logo" src="images/logo-white.png" alt="animated blob" />
        <h1 class="hero__main-text">Norbert Łuszkiewicz</h1>
      </div>
      <p class="hero__text">
        <span class="color-red">Front-end </span><span class="color-blue">developer</span> 💻
      </p>

      <div class="hero__gif-wrapper">
        <img
          class="hero__gif"
          src="images/programer.gif"
          alt="men working on laptop"
          data-aos="fade-up"
        />
        <img class="hero__blob" src="images/blob.svg" alt="animated blob" data-aos="fade-up" />
      </div>
    </section>
    <section class="about-me">
      <h2 class="title">Hi, I'm Norbert. Nice to meet you 👋🏻</h2>
      <div class="about-me__content-wrapper">
        <img
          data-aos="fade-up"
          class="about-me__portrait"
          src="images/draw-portrait.png"
          alt="drawing face"
        />
        <div class="about-me__text-wrapper">
          <div class="about-me__color-wrapper about-me__color-wrapper--blue">
            <p class="text">
              I am a beginner front-end developer ⌨️ and I starting study on Wroclaw University of
              Economics and Business in the field of Business Informatics.
              <strong> I am a helpful and creative person.</strong> I am still learning and I like
              to face new problems. I am not afraid of new experiences.
            </p>
          </div>
          <div class="about-me__color-wrapper">
            <p class="text">
              In my work I use the latest technologies 🚀 ensuring excellent performance.
              <strong>I care about the purity and transparency of the code,</strong> while
              maintaining appropriate semantics, standards and naming, e.g. (W3C, BEM, camelCase).
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="my-skills">
      <div class="title-wrapper">
        <div class="logo-wrapper">
          <img src="images/logo-white.png" alt="logo" class="logo" />
          <img src="images/logo-white2.png" alt="logo" class="logo2" />
        </div>
        <h2 class="title">My skills 🖖🏻</h2>
      </div>
      <p class="text">
        Order in code and files is the basis. I always try to choose the best solution for a given
        implementation that will ensure<strong> the best efficiency.</strong>
      </p>
      <div class="my-skills__container">
        <div class="my-skills__item-wrapper">
          <div class="my-skills__box-name">Technologies in which I works</div>
          <div class="my-skills__item">
            <i class="fab fa-css3-alt"></i>
          </div>
          <div class="my-skills__item">
            <i class="fab fa-html5"></i>
          </div>
          <div class="my-skills__item">
            <i class="fab fa-js"></i>
          </div>
          <div class="my-skills__item">
            <i class="fab fa-react"></i>
          </div>
          <div class="my-skills__item">
            <i class="fab fa-git-alt"></i>
          </div>
          <div class="my-skills__item">
            <i class="fab fa-github"></i>
          </div>
          <div class="my-skills__item">
            <i class="fab fa-sass"></i>
          </div>
          <div class="my-skills__item">
            <i class="fab fa-npm"></i>
          </div>
        </div>
        <div class="my-skills__item-wrapper my-skills__item-wrapper--color">
          <div class="my-skills__box-name my-skills__box-name--color">
            What am I familiar with?
          </div>
          <ul class="my-skills__list">
            <li class="my-skills__list-item">MongoDB</li>
            <li class="my-skills__list-item">Simple project modification in node.js</li>
            <li class="my-skills__list-item">Redux</li>
            <li class="my-skills__list-item">Webpack</li>
            <li class="my-skills__list-item">React Router, Hook</li>
            <li class="my-skills__list-item">Styled Components</li>
            <li class="my-skills__list-item">Storybook</li>
            <li class="my-skills__list-item">Axios</li>
            <li class="my-skills__list-item">Formik</li>
            <li class="my-skills__list-item">I Use Eslint and Prettier</li>
            <li class="my-skills__list-item">Combination of React, Node.js, MongoDB and Heroku</li>
          </ul>
          <h3 class="my-skills__subtitle">What will I be good at?</h3>
          <p class="text">node.js | expres.js | gatsby.js | graphQL | typescript | GSAP.js</p>
        </div>
      </div>
    </section>
    <section class="my-works">
      <div class="title-wrapper">
        <div class="logo-wrapper">
          <img src="images/logo-white.png" alt="logo" class="logo" />
          <img src="images/logo-white2.png" alt="logo" class="logo2" />
        </div>
        <h2 class="title">My works 👨🏻‍💻</h2>
      </div>
      <div class="my-works__item-container">
        <div class="card-item" data-aos="fade-up">
          <img
            class="card-item__background"
            src="images/favnote.png"
            alt="
            application screenshot favnote"
          />
          <div class="card-item__text-weapper">
            <h3 class="card-item__title">Favnote</h3>
            <p class="text">
              My biggest application, Website made in react with working login and registration If
              you want to have saved your favorite twitter accounts, note , articles then this app
              is for you
            </p>
          </div>
          <div class="card-item__button-wrapper">
            <a class="button" href="https://github.com/NorbertLuszkiewicz/Favnote"
              >Github<i class="fab fa-github fab--mini"></i
            ></a>
            <a class="button" href="https://favnoteapp.netlify.app/login"
              >Demo<i class="fas fa-play-circle fab--mini"></i>
            </a>
          </div>
        </div>
        <div class="card-item card-item--background-red" data-aos="fade-up">
          <img
            class="card-item__background"
            src="images/cakee.png"
            alt="
            application screenshot cakee"
          />
          <div class="card-item__text-weapper">
            <h3 class="card-item__title">Cakee</h3>
            <p class="text">
              Onepage , site demo about healthy eating, It created in html scss and
            </p>
          </div>
          <div class="card-item__button-wrapper">
            <a class="button" href="https://github.com/NorbertLuszkiewicz/Cakee-onepage"
              >Github<i class="fab fa-github fab--mini"></i
            ></a>
            <a class="button" href="https://norbertluszkiewicz.github.io/Cakee-onepage/"
              >Demo<i class="fas fa-play-circle fab--mini"></i>
            </a>
          </div>
        </div>
        <div class="card-item" data-aos="fade-up">
          <img
            class="card-item__background"
            src="images/adminboard.png"
            alt="
            application screenshot admin board"
          />
          <div class="card-item__text-weapper">
            <h3 class="card-item__title">AdminBoard</h3>
            <p class="text">
              Website created in React,demo showing the functioning of the admin board, adding the
              removal of orders and products
            </p>
          </div>
          <div class="card-item__button-wrapper">
            <a class="button" href="https://github.com/NorbertLuszkiewicz/ReactAdminBoard"
              >Github<i class="fab fa-github fab--mini"></i
            ></a>
            <a class="button" href="https://adminboard.netlify.app/"
              >Demo<i class="fas fa-play-circle fab--mini"></i>
            </a>
          </div>
        </div>
        <div class="card-item" data-aos="fade-up">
          <img
            class="card-item__background"
            src="images/schoolgradingcalculator.png"
            alt="
            application screenshot school grading calculator"
          />
          <div class="card-item__text-weapper">
            <h3 class="card-item__title">Portfolio</h3>
            <p class="text">
              Just this website, shows my love for the front-end, Deployed on netlify.
            </p>
          </div>
          <div class="card-item__button-wrapper">
            <a class="button button--big" href="https://github.com/NorbertLuszkiewicz/Portfolio"
              >Github<i class="fab fa-github fab--mini"></i
            ></a>
          </div>
        </div>
        <div class="card-item card-item--background-blue" data-aos="fade-up">
          <img
            class="card-item__background"
            src="images/schoolgradingcalculator.png"
            alt="
            application screenshot school grading calculator"
          />
          <div class="card-item__text-weapper">
            <h3 class="card-item__title">School Grading Calculator</h3>
            <p class="text">
              Website created in Js, html, css. Is used for calculating the average of the subjects
            </p>
          </div>
          <div class="card-item__button-wrapper">
            <a class="button" href="https://github.com/NorbertLuszkiewicz/SchoolGradingCalculator"
              >Github<i class="fab fa-github fab--mini"></i
            ></a>
            <a
              class="button"
              href="https://5f149ac809fd44bcfce21e9c--schoolgradingcalculator.netlify.app/"
              >Demo<i class="fas fa-play-circle fab--mini"></i>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="contact">
      <h2 class="title">Contact 📧</h2>
      <p class="contact__text">
        if you want to hire me in your company, write to
        <strong>norbertluszkiewicz00@gmail.com </strong>. I'm waiting for your message!
      </p>
      <div class="contact__container">
        <a class="contact__item" href="https://github.com/NorbertLuszkiewicz"
          ><i class="fab fa-github"></i
        ></a>
        <a
          class="contact__item"
          href="https://www.linkedin.com/in/norbert-%C5%82uszkiewicz-75b0891b3/"
          ><i class="fab fa-linkedin"></i
        ></a>
        <a class="contact__item" href="">CV</a>
      </div>
    </section>
    <footer class="footer">
      Created by <strong> Norbert Łuszkiewicz </strong> Animation made by
      <a class="footer__link" href="https://dribbble.com/Pudge1996">Pudge</a> © 2020 all rights
      reserved
    </footer>
  </body>
</html>
